/* size of  emoticons, tittles, subtittles and text */
/* font of letters */
/* color of text, backgrounds, text, tittle, subtittle */
/* size of  emoticons, tittles, subtittles and text */
/* font of letters */
/* color of text, backgrounds, text, tittle, subtittle */
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 809px) {
  .introduction_container {
    width: 100%;
    margin: 0 auto;
  }
  .introduction_container .logo_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .introduction_container .logo_wrapper img {
    width: 300px;
    height: 300px;
  }
  .introduction_container .navbar {
    display: none;
  }
  .introduction_container .lema_ashira_wrapper {
    background-color: #8B4589;
    height: 190px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    text-align: center;
  }
}

@media (min-width: 810px) and (max-width: 1023px) {
  .introduction_container .logo_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .introduction_container .logo_wrapper img {
    width: 300px;
    height: 300px;
  }
  .introduction_container .navbar {
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid black;
  }
  .introduction_container .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 30px;
  }
  .introduction_container .navbar ul a {
    text-decoration: none;
  }
  .introduction_container .lema_ashira_wrapper {
    background-color: #8B4589;
    height: 190px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
  }
  .introduction_container .lema_ashira_wrapper p {
    text-align: center;
    margin: 0 auto;
  }
  .lema_ashira_wrapper {
    background-color: #8B4589;
    height: 190px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .introduction_container .logo_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .introduction_container .logo_wrapper img {
    width: 300px;
    height: 300px;
  }
  .introduction_container .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .introduction_container .navbar ul a {
    text-decoration: none;
  }
  .introduction_container .lema_ashira_wrapper {
    background-color: #8B4589;
    height: 190px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
  }
  .introduction_container .lema_ashira_wrapper p {
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: 809px) {
  .about_me_container {
    color: #49166B;
    font-size: 16px;
    width: 100%;
    height: auto;
    padding: 5px;
    background-color: #E6F5F5;
    background-color: whitesmoke;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .about_me_container .about_me_image_wrapper {
    width: 95%;
    height: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .about_me_container .about_me_image_wrapper img {
    width: 100%;
    height: 200px;
    max-width: 100%;
    max-height: 300px;
    margin: 0 auto;
  }
  .about_me_container .about_me_info_wrapper {
    padding: 20px;
  }
  .about_me_container .about_me_info_wrapper .about_me_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about_me_container .about_me_info_wrapper .about_me_icons img {
    width: 60px;
    height: 60px;
    margin-right: 30px;
  }
}

@media (min-width: 810px) and (max-width: 1023px) {
  .about_me_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    padding: 10px;
    position: relative;
  }
  .about_me_container .about_me_image_wrapper {
    width: 70%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    border: 1px solid  black;
  }
  .about_me_container .about_me_image_wrapper img {
    width: 100%;
    height: 570px;
  }
  .about_me_container .about_me_image_wrapper .about_me_tittle {
    position: absolute;
    right: 95px;
    top: 50px;
    font-size: 30px;
    color: #49166B;
  }
  .about_me_container .about_me_info_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-top: 60px;
    padding: 90px;
    width: 30%;
  }
  .about_me_container .about_me_info_wrapper p {
    color: #49166B;
    font-size: 19px;
  }
  .about_me_container .about_me_info_wrapper .about_me_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .about_me_container .about_me_info_wrapper .about_me_icons img {
    width: 60px;
    height: 60px;
    margin-right: 30px;
  }
}

@media (min-width: 1024px) {
  .about_me_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .about_me_container .about_me_image_wrapper {
    width: 50%;
    border: 1px solid;
  }
  .about_me_container .about_me_image_wrapper img {
    width: 80%;
    height: 470px;
  }
  .about_me_container .about_me_image_wrapper .about_me_tittle {
    position: absolute;
    left: 55%;
    color: #49166B;
    font-size: 30px;
  }
  .about_me_container .about_me_info_wrapper {
    color: #49166B;
    font-size: 25px;
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .about_me_container .about_me_info_wrapper .about_me_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .about_me_container .about_me_info_wrapper .about_me_icons img {
    width: 60px;
    height: 60px;
    margin-right: 30px;
  }
}

@media (max-width: 809px) {
  .servicies_container {
    color: #49166B;
    font-size: 16px;
    width: 100%;
    height: auto;
    padding: 5px;
    background-color: #E6F5F5;
  }
  .servicies_container .emoticons_servicies {
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 10px;
  }
  .servicies_container .emoticons_servicies img {
    width: 60px;
    height: 60px;
  }
  .servicies_container .subtittle {
    text-align: center;
    font-size: 25px;
  }
  .servicies_container .image_servicios_wrapper {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    margin: 0 auto;
  }
  .servicies_container .image_servicios_wrapper img {
    width: 300px;
    height: 200px;
  }
  .servicies_container .text_servicie_wrapper p {
    text-align: left;
    font-size: 19px;
    padding: 20px;
  }
  .servicies_container .button_servicies_wrapper {
    text-align: center;
    margin-bottom: 20px;
  }
  .servicies_container .button_servicies_wrapper .button_servicies {
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border: none;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: #308D7C;
  }
}

@media (min-width: 810px) and (max-width: 1023px) {
  /* .servicies_container{
        background-color:$color_backgrounds_cards;
        display: flex;

        height: auto;
        width: 100%;
    

        .container_images_servicies{
            display: flex;
            flex-direction: column;

            position: relative;
 
            width: 40%;

            .emoticons_servicies{
                @include emoticon_wrapper(60px, 60px);
                margin: 0;
                padding: 10px;

                img{
                    @include emoticon(70px, 70px);
                }
            }

            .subtittle{
                @include subtittle;
                position: absolute;
                left: 780px;     
                top: 50px;
                color:  $color_text;
            }

            .image_servicios_wrapper{
                @include card_image(500px, 500px);  
                
                margin: 0 auto;
                padding: 10px;  
    
                img{
                    @include emoticon(100%, auto)
                }
            }
        }
        .container_info_cards{
            display: flex;
            flex-direction: column;
            justify-content: center;

            width: 60%;

            position: relative;

            .text_servicie_wrapper{
                color:   $color_text;
                font-size:  $size_text_desktop;

                .prices_servicies{
                    position: absolute;
                    font-size:$size_subtittle_desktop;
                    font-weight: bold;
                }
            }

            .button_servicies_wrapper{
            
                text-align: center;
                
                margin-bottom: 20px;

                position: absolute;
                bottom: 20px;
                left: 25px;   
                .button_servicies{
                    
                    @include boton(150px, 60px,  10px);
                    
                }
            }
        }
        
    } */
  .servicies_container {
    color: #49166B;
    font-size: 16px;
    width: 100%;
    height: auto;
    padding: 5px;
    background-color: #E6F5F5;
  }
  .servicies_container .emoticons_servicies {
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 10px;
  }
  .servicies_container .emoticons_servicies img {
    width: 80px;
    height: 80px;
  }
  .servicies_container .subtittle {
    text-align: center;
    font-size: 25px;
  }
  .servicies_container .image_servicios_wrapper {
    width: 700px;
    height: 500px;
    margin: 0 auto;
  }
  .servicies_container .image_servicios_wrapper img {
    width: 700px;
    height: 500px;
  }
  .servicies_container .text_servicie_wrapper p {
    text-align: left;
    font-size: 19px;
    padding: 20px;
  }
  .servicies_container .prices_servicies {
    font-weight: bold;
  }
  .servicies_container .button_servicies_wrapper {
    text-align: center;
    margin-bottom: 20px;
  }
  .servicies_container .button_servicies_wrapper .button_servicies {
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border: none;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: #308D7C;
  }
}

@media (min-width: 1024px) {
  .servicies_container {
    height: 80vh;
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #E6F5F5;
  }
  .servicies_container .container_images_servicies {
    width: 70%;
    border: 1px solid black;
  }
  .servicies_container .container_images_servicies .emoticons_servicies {
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 10px;
  }
  .servicies_container .container_images_servicies .emoticons_servicies img {
    width: 80px;
    height: 80px;
  }
  .servicies_container .container_images_servicies h2 {
    position: absolute;
    left: 66%;
    top: 10px;
    color: #49166B;
    font-size: 30px;
  }
  .servicies_container .container_images_servicies .image_servicios_wrapper img {
    width: 680px;
    height: 400px;
  }
  .servicies_container .container_info_cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #49166B;
    font-size: 25px;
  }
  .servicies_container .container_info_cards .text_servicie_wrapper {
    margin-top: 80px;
  }
  .servicies_container .container_info_cards .text_servicie_wrapper .prices_servicies {
    font-weight: bold;
  }
  .servicies_container .container_info_cards .button_servicies_wrapper {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
  }
  .servicies_container .container_info_cards .button_servicies_wrapper .button_servicies {
    width: 320px;
    height: 80px;
    border-radius: 10px;
    border: none;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: #308D7C;
    font-size: 30px;
    margin-top: 30px;
  }
}

@media (max-width: 809px) {
  .ubication_container {
    height: auto;
  }
  .ubication_container .ubication_info_wrapper {
    text-align: left;
    border-radius: 15px;
    border: none;
    width: 40%;
    height: 400px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #49166B;
    font-size: 25px;
    background-color: #d0b4cf;
    font-size: 16px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 0px;
    position: relative;
    top: 25px;
  }
  .ubication_container .ubication_info_wrapper ul {
    text-align: left;
    padding: 10px;
    width: 50%;
  }
  .ubication_container .ubication_info_wrapper ul .subtittle {
    text-align: center;
    font-size: 25px;
    text-align: left;
    font-size: 20px;
    padding: 10px;
  }
  .ubication_container .ubication_info_wrapper ul li {
    text-decoration: none;
    list-style: none;
  }
  .ubication_container .ubication_image_wrapper {
    margin: 0 auto;
  }
  .ubication_container .ubication_image_wrapper img {
    width: 100%;
    height: 400px;
  }
}

@media (min-width: 810px) and (max-width: 1023px) {
  .ubication_container {
    height: auto;
    background-color: white;
  }
  .ubication_container .ubication_info_wrapper {
    text-align: left;
    border-radius: 15px;
    border: none;
    width: 40%;
    height: 400px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #49166B;
    font-size: 25px;
    background-color: #d0b4cf;
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    top: 25px;
  }
  .ubication_container .ubication_info_wrapper ul {
    text-align: left;
    padding: 10px;
    width: 50%;
  }
  .ubication_container .ubication_info_wrapper ul .subtittle {
    text-align: center;
    font-size: 25px;
    text-align: left;
  }
  .ubication_container .ubication_info_wrapper ul li {
    text-decoration: none;
    list-style: none;
  }
  .ubication_container .ubication_image_wrapper {
    margin: 0 auto;
  }
  .ubication_container .ubication_image_wrapper img {
    width: 100%;
    height: 500px;
  }
}

@media (min-width: 1024px) {
  .ubication_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    padding: 20px;
    background-color: white;
    position: relative;
  }
  .ubication_container .ubication_info_wrapper {
    text-align: left;
    border-radius: 15px;
    border: none;
    width: 40%;
    height: 400px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #49166B;
    font-size: 25px;
    background-color: #d0b4cf;
    margin: 0 auto;
    position: relative;
    top: 25px;
  }
  .ubication_container .ubication_info_wrapper ul {
    text-align: left;
    padding: 10px;
    width: 50%;
  }
  .ubication_container .ubication_info_wrapper ul .subtittle {
    text-align: center;
    font-size: 25px;
    text-align: left;
  }
  .ubication_container .ubication_info_wrapper ul li {
    text-decoration: none;
    list-style: none;
  }
  .ubication_container .ubication_image_wrapper {
    margin: 0 auto;
    padding: 10px;
  }
  .ubication_container .ubication_image_wrapper img {
    width: 100%;
    height: 500px;
  }
}
/*# sourceMappingURL=index.css.map */