//MIXIN

@mixin phone { 
    @media (max-width: 809px) {
        @content
     }
};



@mixin tablet { 
    @media (min-width: 810px)   {
        @content  
     }
};

@mixin desktop { 
    @media (min-width: 952px) { 
        @content
     }
};