@mixin ubication {
    text-align: left;
    border-radius: 15px;
    border: none;
    
    width: 30%;
    height: auto;
    color: $color_text;
    font-size:  $size_text_desktop; 
    background-color: #d0b4cf;
}



