@mixin ubication {
    text-align: left;
    border-radius: 15px;
    border: none;
    
    width: 40%;
    height: 400px;
    padding: 10px;  
    color: $color_text;
    font-size:  $size_text_desktop; 
    background-color: #d0b4cf;
}



