@include phone{
    .about_me_container{
        @include card;
        background-color: whitesmoke;  

        display: flex;
        flex-direction: column;

        
        
        .about_me_image_wrapper{
            width: 95%;  
            height: auto;
            margin: 0 auto;

            display: flex;
            flex-direction: column;

            

            text-align: center; 
             
            
            
            img{
                @include card_image(100%, 200px);
                max-width:100%;
                max-height:200px;

                margin: 0 auto;
                
            }


        }
        .about_me_info_wrapper{

            padding: 20px;

            .about_me_icons{
                display: flex;
                justify-content: center;

                img{
                    @include emoticon(60px, 60px);
                    
                    margin-right: 30px;
                }
                 
            }
        
        }
    }
}

@include tablet{
    .about_me_container{
        display: flex;
        height: auto;
        padding: 10px; 
        
        position: relative;

        

        .about_me_image_wrapper{
            width: 70%;  
            margin: 0 auto;

            display: flex;
            align-self: center;

            border: 1px solid  black;
             
            
            img{
                @include card_image(100%, 570px);    
                
            }

            .about_me_tittle{
                position: absolute;
                right: 95px;   
                top: 50px;

                

                
                font-size: $size_subtittle_desktop;  
                color: $color_text; 
                
            }


        }

        .about_me_info_wrapper{

            display: flex;
            flex-direction: column;
            align-self: flex-end;

            margin-top: 60px;
            

            padding: 90px;
            width: 30%; 

            p{
                color: $color_text;
                font-size: $size_text_tablets;
            };

            .about_me_icons{
                display: flex;
                justify-content: center;
                align-self: center;

                img{
                    @include emoticon(60px, 60px);
                    
                    margin-right: 30px; 
                }
                 
            }
        }
    }
}


@include desktop{
    .about_me_container{
        
        display: flex;
        position: relative; 
        
        .about_me_image_wrapper{
            
            width: 50%; 
            border: 1px solid ; 
            
            img{
                @include card_image(80%, 470px); 
                 
            }

            .about_me_tittle {
                position: absolute;
                right:  325px;

                color:  $color_text;
            }


        }

        .about_me_info_wrapper{

            color: $color_text;
            font-size: $size_subtittle_desktop;

            width: 40%;

            display: flex;
            flex-direction: column;
            justify-content: end;
           

            .about_me_icons{
                
                display: flex;
                justify-content: center;
                align-self: center;

                img{
                    @include emoticon(60px, 60px);
                    
                    margin-right: 30px; 
                }

                
                 
            }
        }
    }



}