@include phone{
    .comment-carousel{

        display: flex;
        align-items: center;

        margin: 0 auto;
        width: 100%;
        height: 40vh;   

      

        .arrow{
            cursor: pointer;
            padding: 10px;
        }

        .comments-wrapper{
            background-color: $color_backgrounds_cards;;
            border-radius: 10px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);

            margin: 0 auto;
            width: 100%;
            padding: 30px;

            display: flex;
            align-items: center;

            .text-wrapper{
                margin: 10px;

                margin: 0 auto;
                width: 100%;  
            }
        }
    }
}

@include tablet{

    .comment-carousel{

        display: flex;
        align-items: center;

        margin: 0 auto;
        width: 100%;
        height: 30vh;   

      

        .arrow{
            cursor: pointer;
            padding: 10px;
        }

        .comments-wrapper{
            background-color: $color_backgrounds_cards;;
            border-radius: 10px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);

            margin: 0 auto;
            width: 100%;
            padding: 20px; 

            display: flex;
            align-items: center;

            .text-wrapper{
                margin: 10px;

                margin: 0 auto;
                width: 100%;  
            }
        }
    }

}
