@include phone{

 
    .introduction_container{ 
        width: 100%;
        margin: 0 auto;

        .logo_wrapper{
            
            display: flex;
            justify-content: center;

            img{ 
                @include emoticon(300px, 300px); 
                
                
            }
        }

        .navbar{
            display: none;
        }

        .lema_ashira_wrapper{
            background-color: #8B4589;
            height: 190px;
            padding: 10px;

            display: flex;
            align-items: center;

            color: $color_letter_button;
            text-align: center;  
        }
    }
    
}

@include tablet{
    .introduction_container{

        .logo_wrapper{
            
            display: flex;
            justify-content: center;

            img{ 
                @include emoticon(300px, 300px); 
                
                
            }
        }

        .navbar{

            background-color: $color_backgrounds_cards ;

            height: 120px;
            ul {
                display: flex;
                list-style: none;
                margin: 0;
                padding: 0;
                justify-content: center;

                
                a{
                    text-decoration: none;
                }
                
            }
        }

        .lema_ashira_wrapper{
            background-color: #8B4589;
            height: 190px;
            padding: 10px;

            display: flex;
            align-items: center;
            

            color: $color_letter_button;
            text-align: center;
             
        }
    } 

        .lema_ashira_wrapper{
            background-color: #8B4589;
            height: 190px;
            padding: 10px;

            display: flex;
            align-items: center;

            color: $color_letter_button;
            text-align: center;  
        }
     
    
}

@include desktop{

    .introduction_container{

        .logo_wrapper{
            
            display: flex;
            justify-content: center;

            img{ 
                @include emoticon(300px, 300px); 
                
                
            }
        }

        .navbar{
            ul {
                display: flex;
                list-style: none;
                margin: 0;
                padding: 0;
                justify-content: center;

                    
                        
                a{
                    text-decoration: none;
                }
                    
                
              }
        }

        .lema_ashira_wrapper{
            background-color: #8B4589;
            height: 190px;
            padding: 10px;

            display: flex;
            align-items: center;
            

            color: $color_letter_button;
            text-align: center;
             
        }
    } 

}
