@include phone{   
    .servicies_container{

        @include card;

        .emoticons_servicies{
            @include emoticon_wrapper(60px, 60px);
            margin: 0;
            padding: 10px;

            img{
                @include emoticon(60px, 60px);
            }
        }

        .subtittle{
            @include subtittle; 
        }

        .image_servicios_wrapper{
            @include card_image(300px, 200px);
            border: 1px solid black;
            margin: 0 auto;

            img{
                @include emoticon(300px, 200px);
            }
        }

        

        .text_servicie_wrapper p{
            @include text
        }

        .button_servicies_wrapper{
            
            text-align: center;
            
            margin-bottom: 20px;
            .button_servicies{
                
                @include boton(120px, 50px, 10px);
                
            }
        }
        
    }
    
}

@include tablet{
    /* .servicies_container{
        background-color:$color_backgrounds_cards;
        display: flex;

        height: auto;
        width: 100%;
    

        .container_images_servicies{
            display: flex;
            flex-direction: column;

            position: relative;
 
            width: 40%;

            .emoticons_servicies{
                @include emoticon_wrapper(60px, 60px);
                margin: 0;
                padding: 10px;

                img{
                    @include emoticon(70px, 70px);
                }
            }

            .subtittle{
                @include subtittle;
                position: absolute;
                left: 780px;     
                top: 50px;
                color:  $color_text;
            }

            .image_servicios_wrapper{
                @include card_image(500px, 500px);  
                
                margin: 0 auto;
                padding: 10px;  
    
                img{
                    @include emoticon(100%, auto)
                }
            }
        }
        .container_info_cards{
            display: flex;
            flex-direction: column;
            justify-content: center;

            width: 60%;

            position: relative;

            .text_servicie_wrapper{
                color:   $color_text;
                font-size:  $size_text_desktop;

                .prices_servicies{
                    position: absolute;
                    font-size:$size_subtittle_desktop;
                    font-weight: bold;
                }
            }

            .button_servicies_wrapper{
            
                text-align: center;
                
                margin-bottom: 20px;

                position: absolute;
                bottom: 20px;
                left: 25px;   
                .button_servicies{
                    
                    @include boton(150px, 60px,  10px);
                    
                }
            }
        }
        
    } */
    
    .servicies_container{

        @include card;

        .emoticons_servicies{
            @include emoticon_wrapper(80px, 80px);
            margin: 0;
            padding: 10px;

            img{
                @include emoticon(80px, 80px);
            }
        }

        .subtittle{
            @include subtittle; 
        }

        .image_servicios_wrapper{
            @include card_image(700px, 500px);
            
            margin: 0 auto;

            img{
                @include emoticon(700px, 500px);
            }
        }

        

        .text_servicie_wrapper p{
            @include text
        }

        .prices_servicies{
            font-weight: bold;
        }

        .button_servicies_wrapper{
            
            text-align: center;
            
            margin-bottom: 20px;
            .button_servicies{
                
                @include boton(120px, 50px, 10px);
                
            }
        }
        
    }
}

@include desktop{
    .servicies_container{

        height: 80vh;
        
        position: relative;

        display: flex;
        background-color:  $color_backgrounds_cards;

        .container_images_servicies{

            width: 70%;
            border: 1px solid black;

            .emoticons_servicies{
                @include emoticon_wrapper(80px, 80px);
                margin: 0;
                padding: 10px;
    
                img{
                    @include emoticon(80px, 80px);
                }
            }
            h2{
                position: absolute;
                left: 50%;
                top: 10px;
                color: $color_text;
                font-size:  $size_subtittle_desktop;      
            }
            .image_servicios_wrapper{
                img{
                    @include emoticon(680px, 400px); 
                }
            }
        }

        .container_info_cards{

            display: flex;
            flex-direction: column;
            justify-content: center;
            
            color: $color_text;
            font-size: $size_text_desktop;

            .text_servicie_wrapper{

                .prices_servicies{
                    font-weight: bold;
                }
            }
             
            .button_servicies_wrapper{
            
                text-align: center;
                
                
                margin-bottom: 20px;
                .button_servicies{
                     
                    @include boton(320px, 80px, 10px);
                    font-size:   $size_subtittle_desktop;
                     
                    
                }
            }
        }
    }
}