@include phone{
    .ubication_container{

        height: auto;
        width: 100%;
    
        .ubication_info_wrapper{
           
            @include ubication;
            font-size:  $size_text; 
            
            width: 100%;
            height: auto;    
            margin: 0 auto; 
            border-radius: 0px;
            
           

             
            

            ul{
                .subtittle{
                    @include subtittle;
                    text-align: left;
                    font-size:    $size_subtittle_mobile;
                    padding: 10px;

                }
                text-align: left;
                padding: 10px;
                width: 50%; 
                
                 
                li{
                    text-decoration: none;
                    list-style: none;
                } 
            }
        }
        .ubication_image_wrapper{
            margin: 0 auto;  
            img{
                @include card_image(100%, 400px);  
            }
        }
        
    }
}

@include tablet {
    .ubication_container{

        height: auto;

        background-color: $color_letter_button;
        

        .ubication_info_wrapper{
           
            @include ubication;
            width: 100%;
            height: auto;
            
            
             
            margin: 0 auto; 
               
            
            position: relative;
            top: 25px;

             
            

            ul{
                .subtittle{
                    @include subtittle;
                    text-align: left;

                }
                text-align: left;
                padding: 10px;
                width: 50%; 
                
                 
                li{
                    text-decoration: none;
                    list-style: none;
                } 
            }
        }
        .ubication_image_wrapper{
            margin: 0 auto;  
            img{
                @include card_image(100%, 500px);
            }
        }
    }
}

@include desktop{
    .ubication_container{

        
        display: flex;
        align-items: center; 

        height: auto;
        padding: 20px;
        
        background-color: $color_letter_button;

        position: relative;
        

        .ubication_info_wrapper{
           
            @include ubication;
            
            
             
            margin: 0 auto; 
               
            
            position: relative;
            top: 25px;

             
            

            ul{
                .subtittle{
                    @include subtittle;
                    text-align: left;

                }
                text-align: left;
                padding: 10px;
                width: 50%; 
                
                 
                li{
                    text-decoration: none;
                    list-style: none;
                } 
            }
        }
        .ubication_image_wrapper{
            margin: 0 auto;
            padding: 10px; 

           
            img{
                @include card_image(100%, 500px); 
            }
        }
    }

}