


    /* size of  emoticons, tittles, subtittles and text */
    $size_tittle: 16px;
    $size_subtittle:14px;
    $size_subtittle_desktop: 30px;
    $size_text:16px;
    $size_text_desktop: 20px;
    $size_letter_button: 18px;

    /* font of letters */
    $font_tittle: Arial;
    $font_text: Arial;
    $font_weight_button: bold;



    /* color of text, backgrounds, text, tittle, subtittle */
    $color_text: #49166B;
    $color_letter_button: white; 
    
    $color_backgrounds_cards:#E6F5F5; 
    $color_backgrounds_buttons: #308D7C;


